@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.bgone {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 100vh;
    background-color: hsla(0, 0%, 59%, 0.2);
    background-image: url('./images/bg-pattern-bottom.svg');
}


.bgtwo {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    height: 60%;
    background-image: url('./images/bg-pattern-top.svg');
    background-color: hsl(185, 75%, 39%);
}

.profile-card {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5%;
    width: 260px;
    height: 270px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container-flex {
    display: flex;
    flex-direction: column;

}

.flex-item-1 {
    flex: 0 0 99px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url('./images/bg-pattern-card.svg');
}

.flex-item-2 {
    flex: 0 0 99px;
    position: relative;
}

.flex-item-3 {
    flex: 0 0 72px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid rgba(207, 207, 207, 0.7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-picture {
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.7);
    border: 6px solid white;
    border-radius: 50%;
}

.profile-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.profile-name {
    font-size: 14px;
    font-weight: 700;
}

.profile-name span {
    color: rgb(185, 185, 185);
    padding-left: 0.5rem;
}

.location-name {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: rgb(185, 185, 185);
}

.flex-item-3 > div > p:first-child {
    font-size: 14px;
    font-weight: 700;
    padding-top: 1rem;
    margin: 0 0;
    box-sizing: border-box;
}

.flex-item-3 > div > p:nth-child(2) {
    font-size: 10px;
    color: gray;
}

.flex-item-3 > div {
    text-align: center;
}
